@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700,900');

$text-color:#262626;
$accent-color:#ff6033;
$secondary-color:#fff;
$footer-color:#b9b9b9;
$border-width: 2px;
$logo-ff:Pacifico, Arial, sans-serif;
$text-ff:Raleway, Arial, sans-serif;
$title-weight: 700;
$heavy-weight:900;
$text-weight: 300;
$title-height: 270px;
$shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);

